h1, h2, h3{
    text-align: center;
    text-decoration: underline;
}
.consejos{
    color: white;
    background-color: $color-terciario;
}

.parrafo{
    background-color: white;
    font-size: 25px;
    
}