/*Estilos comunes para las secciones*/
body{
    font-family: $fuente-principal;
    background-color: $color-primario;
    color: $color-secundario;
}

.nav-link,
.nav-link.active,
.navbar-nav .nav-link.active{
    color: black;

    &:hover{
        color: $color-terciario;
    }
}

.navbar-toggler{
    background-color: white;
}

.carousel-item img{
    height: 350px;
}

@media (min-width: $tablet){
    .carousel-item img{
        height: 600px;
    }
}
@media (min-width: $desktop){
    .carousel-item img{
        height: 70vh;
        padding: 0px 200px;
    }
}

@media (min-width: $desktopXG){
    .carousel-item img{
        height: 70vh;
        padding: 0px 400px;
    }
}


h1,h2,h3{
    text-align: center;
    margin-top: $espacio-medio;
    color: $color-terciario;
}

p{
    font-size: $fuente-media;
    text-align: center;
    color: $color-terciario;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $espacio-grande;
    .container-redes a{
        text-decoration: none;
        color: white;
        font-size: 40px;

    }
}